<html data-theme="coffee" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar bg-base-100">
        <a href="/" class="btn btn-ghost text-xl font-bold">The Teck Blog</a>
        <ul class="menu menu-horizontal">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {{#if isLoggedIn}}
            <li><a href="#" id="logout">Logout</a></li>

          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <section class="mx-4 mt-4">
      {{{body}}}
    </section>
    <script src="/js/logout.js"></script>
  </body>
</html>